:root {
  --gold: #c9aa71;
  --secondary-color: #001223;
  --background: #010a13;
}

ul {
  all: unset;
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

main {
  height: 100vh;

  width: 100%;
}

.header {
  background: rgb(0, 37, 71);
  background: linear-gradient(
    180deg,
    rgba(0, 37, 71, 1) 0%,
    rgba(1, 10, 19, 1) 100%
  );
}

.what-is-league {
  background-image: url(./assets/lol-wpp.jpg);

  background-repeat: no-repeat;
}

.carousel-inner {
  height: 100vh;
}

section .fortaleca {
}
/* .main h2,
.main p {
    padding: 5rem;
} */
