:root {
  --gold: #c9aa71;
  --secondary-color: #001223;
  --background: #010a13;
}

ul {
  all: unset;
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.header {
  background: rgb(0, 37, 71);
  background: linear-gradient(
    180deg,
    rgba(0, 37, 71, 1) 0%,
    rgba(1, 10, 19, 1) 100%
  );
}
.main {
  background-image: url(./assets/lol-wpp.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}

.main h2,
.main p {
  padding: 5rem;
}
